@import url("https://use.typekit.net/zfb0hmm.css");

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "new-hero", sans-serif;
    overflow: hidden;
}

h2 {
    margin-left: 15%;
    font-size: 42px;
    color: #4F4789;
    margin-top: 12%;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 250px;
}

.logo {
    position: absolute;
    top: 2%;
    left: 5%;
    height: 40px;
}

.background-right {
position: fixed;
width: 502.63px;
height: 1141.48px;
left: 70%;
margin-top: -240px;
background: #4F4789;
transform: rotate(15deg);
z-index: -1;
}

.planet {
    position: fixed;
    left: 55%;
    top: 17%;
    height: 60%;
    transform: rotate(90deg);
}

.username-label, .new-password-label {
    display: none;
}

.username-input, .new-password-input {
    margin-top: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    font-family: "new-hero", sans-serif;
    padding-bottom: 10px;
    width: 300px;
}

.block-title {
    font-size: 25px;
}

.question {
    font-size: 20px;
}

.button-container
{
    display: flex;
    gap: 30px;
}

.button {
    font-family: "new-hero", sans-serif;
    font-weight: bold;
    width: 100px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    background-color: #FF784F;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #FF784F;
    border: solid 2px #FF784F;
}

.cancel-button {
    font-family: "new-hero", sans-serif;
    font-weight: bold;
    width: 100px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 15px;
    background-color: #4F4789;
    color: white;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: white;
    color:#4F4789;
    border: solid 2px #4F4789;
}


/* RESPONSIVE */

@media only screen and (max-width: 900px) {
    .planet {
        height: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .planet {
        display: none;
    }

    h2 {
        margin-top: 30%;
    }

}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: 32px;
    }
}